*{
    margin: 0px;
    padding: 0px;
}
.left-side-area{
    height: calc(100vh - 70px);
    width: 55px;
    background-color: beige;
    display: flex;
    align-items: center;
    flex-direction: column;
}