* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box !important;
}
:root {
  --black: black;
  --gray: rgb(32, 32, 32);
}
body{
    background-color: var(--black);
}
.navbar {
  background-color: var(--black);
}
.nav-link,
.navbar-brand {
  color: white !important;
}
.navbar-brand img {
  height: 70px;
}
.navbar-btn {
  height: 50px;  
  width: 150px;
  margin: 0px 5px;
  border-radius: 40px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.navbar-btn2 {
  height: 50px;  
  width: 150px;
  margin: 0px 5px;
  border-radius: 40px;
  background-color: transparent;
  color: white;
  background-color: red;
  border: none;
  
}

.navbar-btn2 span{
    background-color: white;
   padding: .4em;
    border-radius: 50%;

}
.box-wrapper{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    gap:20px;  
}
.box-wrapper .box{
    flex-grow: 0.5;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-wrapper .box .image{
    height: 50%;
    background-color: white;
  }
  .box-wrapper .box .image img{
  background-position: center;
    background-position: center;
    width: 100%;
    height: 50%;
    display: block;
    border-radius:10px;

}
.box-wrapper .box .box-btn{
    height: 50px;  
    width: 150px;
    margin: 0px 5px;
    border-radius: 40px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin-top: 20px;
}